@charset "UTF-8";
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

body {
	font-size: 16px;
	font-family: 'helvetica';
    background-color: #f2f2f2;
	animation: fadeInAnimation ease 1.1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

body>div#wrap {
	display: block;
	overflow: hidden;
	position: relative;
	min-height: 100vh; /* will cover the 100% of viewport */
	padding-bottom: 48px; /* height of your footer */
}

header {border-bottom: 1px solid #000;}

header>nav {
	width:calc(100% - 100px);
	margin: 0 auto;
}

header>nav>ul.gnb {text-align: right;}

header>nav>ul.gnb>li {
	display: inline-block;
	padding: 20px 0;
}

header>nav>ul.gnb>li>a{
	display: block;
	height: 32px;
	padding: 5.5px 8px;
	text-transform: uppercase;
	border: 1px solid #000;
	border-radius: .5em;
	box-sizing: border-box;
}

header>nav>ul.gnb>li>a:hover {
	color: #f2f2f2;
	background-color: #121212;
}

section {
    color: #1e1e1e;
	font-weight: 100;
    font-family: 'helvetica';
}

.mainbanr {
	height: 100vh;
	background-image: url("../images/insomnia_banner.jpg");
	background-position: center center;
	background-size: cover;
	text-indent: -9999px;
}

.mainbanr>h2 {text-indent: -9999px;}

div.title {
	margin-left: 20%;
	padding: 104px 0;
}

div.title>h2 {font-size: 3.5em;}

div.column{
	display: flex;
    justify-content: space-between;
	width: calc(100% - 100px);
	margin: 0 auto;
}

div.column>h3.divide{
	margin-bottom: 24px;
}

.column>h3 {
	width: 16%;
	font-size: 1.5em;
	line-height: 1.5em;
}

.column>h3+p,h2+p,article li {
	font-size: 1.125em;
    line-height: 1.8em;
}

.column>p,div.column>ul {width: 80%;}

.container>article {margin-bottom: 104px;}

article li {list-style-type: disc;}
article li:nth-child(1) { margin-bottom: 12px}

.container>.persona>p>img,.research>p>img,.screen>p>img {width: 100%;}
.container>.research>p>img,.screen>p>img {margin-top: 24px;}
.container>.description p>img {
    margin-top: 24px;
	width: 100%;
}

footer{
	position: absolute;
 	bottom: 0;
	width:100%;
	text-transform: uppercase;
	border-top: 1px solid #2c2f34;
}

footer>nav {
	width:calc(100% - 100px);
	margin: 0 auto;
}

footer>nav>ul.gnb {text-align: right;}

footer>nav>ul.gnb>li {
	display: inline-block;
	padding: 20px 0;
}

footer>nav>ul.gnb>li>a{
	display: block;
	height: 32px;
	padding: 5.5px 8px;
	text-transform: uppercase;
	border: 1px solid #000;
	border-radius: .5em;
	box-sizing: border-box;
}

footer>nav>ul.gnb>li>a:hover {
	color: #f2f2f2;
	background-color: #121212;
}

aside {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 50%;
	right: 32px;
	width: 56vw;
	height: 64vh;

	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
}

aside > img {display: block;}

@media screen and (max-width:902px){
	
	div.title {margin-left: 0;}
	
	div.column {display: block;}
	
	.column>p,div.column>ul {width: 100%;}

	.column>h3 {
		width: 100%;
		margin-bottom: 12px;
	}
	
    .container>.persona>p {display: block;}
    
    .container>.persona>p>img {
        display: block;
        width: 100%;
    }
   
    .container>.persona>p>img:nth-child(1) {margin-bottom: 32px;}
	
}







