@charset "UTF-8";

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

@keyframes rotation {
	from{
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

body {
	font-family: 'helvetica';
    background-color: #f2f2f2;
	animation: fadeInAnimation ease 1.1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

body>div#wrap{
	display: block;
	overflow: hidden;
	position: relative;
	min-height: 100vh; /* will cover the 100% of viewport */
	padding-bottom: 48px; /* height of the footer */
}

header>nav {
	width: calc(96% + 12px);
	height: 48px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 100;
}

header>nav>ul.gnb {position:relative;}
	
header>nav>ul.gnb>li {
	float: left;
	margin-top: 10px;
}

header>nav>ul.gnb>li:nth-child(2) {
	position: absolute;
	right:0;
}

header a {
	border: 1px solid #000;
	border-radius: 2em;
	box-sizing: border-box;
	display: block;
	padding: 7px;
}

header a:hover {
	color: #f2f2f2;
	background-color: #121212;
}

section {
	margin-top: 4px;
	text-transform: uppercase;
}

section.rotate {
	width:50%;
	top:42%;
	position: fixed;
	right:0;
}

section.rotate img {
	width: 100%;
	height: 100%;
}

.gallery {
	position: relative;
	width: 140px;
	height: 96px;
	margin: 4% auto;
	perspective: 1000px;
	transform: rotate(-16deg);
	z-index: -1;
}

#carousel {
	position: absolute;
	width: 140%;
	height: 100%;
	transform-style: preserve-3d;
	animation: rotation 13s infinite linear;
}

#carousel figure {
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70%;
	height: 78%;
	background: black;
	overflow: hidden;
	border: solid 2px #f2f2f2;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(220px);}
#carousel figure:nth-child(2){transform: rotateY(40deg) translateZ(220px);}
#carousel figure:nth-child(3){transform: rotateY(80deg) translateZ(220px);}
#carousel figure:nth-child(4){transform: rotateY(120deg) translateZ(220px);}
#carousel figure:nth-child(5){transform: rotateY(160deg) translateZ(220px);}
#carousel figure:nth-child(6){transform: rotateY(200deg) translateZ(220px);}
#carousel figure:nth-child(7){transform: rotateY(240deg) translateZ(220px);}
#carousel figure:nth-child(8){transform: rotateY(280deg) translateZ(220px);}
#carousel figure:nth-child(9){transform: rotateY(320deg) translateZ(220px);}
#carousel figure:nth-child(10){transform: rotateY(360deg) translateZ(220px);}

section>ol>li {
	margin: 0 auto 32px;
	font-weight: 600;
	font-size: 8.8vmax;
	line-height: 6.2vmax;
	font-family: 'helvetica';
}

section>ol>li:nth-child(1),li:nth-child(5) {
	margin-bottom: 40px;
	border-top: 1px solid #2c2f34;
}

section>ol>li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(6),li:nth-child(7),li:nth-child(8){width:calc(96% + 16px);}

section>ol>li>h2 {
	width: 96%;
	margin: 12px auto 0;
	color: #000;
	font-weight: 100;
	font-size: 18px;
	line-height: 18px;
}

section>ol>li>a {
	display: block;
	transition: all 0.2s ease-in-out;
}

section>ol:hover li>a {
    filter: blur(0px);
	opacity: .1;
}

section>ol:hover li>a:hover {
    filter: blur(0);
	opacity: 1;
}

section>ol>li:nth-child(1),li:nth-child(5) {
	margin-bottom: 40px;
	border-top: 1px solid #2c2f34;
}

footer>address {
	position: absolute;
 	bottom: 0;
	width: 100%;
	height: 48px;
	border-top: 1px solid #2c2f34;
}

footer>address>p {
	position: relative;
	top: 16px;
	width: 96%;
	margin: 0 auto;
	font-weight: 100;
	font-size: 16px;
	font-family: 'helvetica';
	text-align: right;
}
 
@media screen and (max-width:902px){
	
	header,footer>address>p {font-size: 16px;}
	
	header>nav>.gnb>li:nth-child(1) {margin-right: 4px;}
	
    section p {display: none;}

	section>ol>li {line-height: 5vmax;}
	
}






