@charset "UTF-8";
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

* {box-sizing: border-box;}

.gridcontent {
	width: 8.33%;
	margin: 0;
	border-right: 1px solid #000;
	height: 100%;
	float: left;
	background-color: #84c754;
	background-color: #f1f1f1;
}
		
body {
	color: #000;
	font-size: 16px;
	font-family: 'helvetica';
	background-color: #fff;
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

div#wrap {
	display: block;
	overflow: hidden;
	position: relative;
	min-height: 100vh; /* will cover the 100% of viewport */
	/*padding-bottom: 64px; height of the footer */
}
	
#content {
	width: calc(100% - 32px);
	margin: 0 auto;
}
		
header {
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid lightgrey;
}

header>div,header>div>nav>ul{display: flex;}

header>div>h1 {width: 75%;}
header>div>nav {width: 25%;}

div.draw {
  	width: 100%;
  	height: 64vh;
  	overflow: hidden;
	border-bottom: 1px solid lightgrey;
}
		
div.draw:hover span {display: none;}

div.draw canvas {cursor: crosshair;}

div.draw span {
  	position: absolute;
 	top: 40px;
  	left: 16px;
  	color: #000;
	font-size: 1.5em;
	line-height: 1.5em;
}

/*
section>h2 {
	padding: 160px 0;
	font-size: 1.5em;
	line-height: 1.5em;
}
*/
		
section>ol>li {border-bottom: 1px solid lightgrey;}

section>ol>li:hover a{color: darkgrey;}

section>ol>li>a {display: flex;}

section>ol>li>a>p:nth-child(1) {
	display: inline-block;
	width: 25%;
	font-size: 1.5em;
	line-height: 1.5em;
}
	
section>ol>li>a>p:nth-child(2) {
	display: inline-block;
	width: 50%;
	font-size: 3em;
	line-height: 1.05em;
}

section>ol>li>a>p:nth-child(3) {text-indent: -9999px;}

section>ol>li:hover a>p:nth-child(3) {
	width: 25%;
	background-size: contain;
	background-repeat: no-repeat;
}

section>ol>li:nth-child(1):hover a>p:nth-child(3) {background-image: url("../images/endsomnia_thumb.jpg");}
section>ol>li:nth-child(2):hover a>p:nth-child(3) {background-image: url("../images/rapid_thumb.jpg");}
section>ol>li:nth-child(3):hover a>p:nth-child(3) {background-image: url("../images/ask_thumb.jpg");}
section>ol>li:nth-child(4):hover a>p:nth-child(3) {background-image: url("../images/AWAKEIFY.gif");}
		
footer {
	padding-top: 160px;
	font-size: 1.5em;
	line-height: 1.5em;
}

footer>div {
	position: absolute;
 	bottom: 0;
	left: 16px;
	width: 100%;
}

@media screen and (max-width:902px){
	
	body {font-size: 12px;}
	
	div.draw {display: none;}
	
	section>ol>li>a>p:nth-child(3) {display: none;}
	
	section>ol>li>a,section>ol>li>a>p:nth-child(1),section>ol>li>a>p:nth-child(2) {display: block;}
	
}
/*
footer>div,footer>div>nav>ul{display: flex;}
		
footer>div>address {width: 50%;}
footer>div>nav {width: 50%;}
footer>div>nav>ul>li:nth-child(1) {width: 50%}
		
footer>div>nav>ul>li>a:hover {color: lawngreen;}
*/
