@charset "UTF-8";
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

body {
	font-size: 16px;
	font-family: 'helvetica';
	background-color: #f2f2f2;
	animation: fadeInAnimation ease 1.1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

div#wrap {
	display: block;
	overflow: hidden;
	position: relative;
	min-height: 100vh; /* will cover the 100% of viewport */
	/*padding: 0 40px;*/
	padding-bottom: 64px; /* height of your footer */
}

header {border-bottom: 1px solid black;}

header>div {
	display: flex;
	margin: 0 32px;
}

header p {
	display: inline-block;
	width: 25%;
	color: #000;
	line-height: 64px;
}

header>div>nav {
	position: absolute;
	right: 32px;
	padding: 16px 0;
}

header>div>nav>ul.gnb>li {
	display: inline-block;
	padding-right: 4px;
	line-height: 2em;
}

header>div>nav>ul.gnb>li:nth-child(2) {padding-right: 0;}

header>div>nav>ul.gnb>li>a {
	display: inline-block;
	height: 32px;
	padding: 0 8px;
	border: 1px solid #000;
	border-radius: .5em;
	box-sizing: border-box;
}

header>div>nav>ul.gnb>li>a:hover {
	color: #f2f2f2;
	background-color: #121212;
}

section {color: #000;}

section.mainbanr {
	height: 100vh;
	background-position: center center;
	background-size: cover;
	text-indent: -9999px;
}

.endsomnia {background-image: url("../images/insomnia_banner.jpg");}
.rapid {background-image: url("../images/rapid_banner.jpg");}
.ask {background-image: url("../images/ask_banner.jpg");}
.awakeify {background-image: url("../images/awakeify_banr.png");}

section.mainbanr>h2 {text-indent: -9999px;}

div.container>h2 {
	width: calc(100% - 64px);
	margin: 104px auto;
	font-size: 2.5em;
	line-height: 1em;
}

div.container>h2>span {margin: 25%;}

div.container img,video {width: 100%;padding-top: 32px;}
article:nth-child(14) p:nth-child(3)>img{padding-top: 0;}
article:nth-child(16) p:nth-child(3)>img{padding-top: 0;}
article.double img{padding-top: 0;}

div.container>article {padding-bottom: 104px;}

div.column{display: flex;}
div.column,article.persona {padding: 0 32px;}

div.column h3,article.persona h3 {
	display: inline-block;
	width: 25%;
	font-size: 1.5em;
	line-height: 1.5em;
}

div.column p,div.column ul{
	display: inline-block;
	width: 50%;
	font-weight: 100;
	font-size: 1em;
    line-height: 1.8em;
}

.persona>p{display: flex;justify-content: space-between;}  
.persona>p>img{width: 49.8%;height: 49.8%;}

article li {list-style-type: disc;}
article li:nth-child(1) {margin-bottom: 16px}

h3.divide {margin-bottom: 16px}

footer {border-top: 1px solid black;}

footer>div {
	display: flex;
	position: absolute;
 	bottom: 0;
	width: calc(100% - 64px);
	margin: 0 32px;
}

footer p {
	display: inline-block;
	width: 25%;
	color: #000;
	line-height: 64px;
}

footer>div>nav {
	position: absolute;
	right: 0;
	padding: 16px 0;
}

footer>div>nav>ul.gnb>li {
	display: inline-block;
	padding-right: 4px;
	line-height: 2em;
}

footer>div>nav>ul.gnb>li:nth-child(3) {padding-right: 0;}

footer>div>nav>ul.gnb>li>a {
	display: inline-block;
	height: 32px;
	padding: 0 8px;
	border: 1px solid #000;
	border-radius: .5em;
	box-sizing: border-box;
}

footer>div>nav>ul.gnb>li>a:hover {
	color: #f2f2f2;
	background-color: #121212;
}


