@charset "UTF-8";
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

body {
	color: #000;
	font-size: 16px;
	font-family: 'helvetica';
	background-color: #fff;
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

div#wrap {
	display: block;
	overflow: hidden;
	position: relative;
	min-height: 100vh; /* will cover the 100% of viewport */
	/*padding-bottom: 64px; height of the footer */
}
	
#content {
	width: calc(100% - 32px);
	margin: 0 auto;
}
		
header {
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid lightgrey;
}

header>div,header>div>nav>ul{display: flex;}

header>div>h1 {width: 75%;}
header>div>nav {width: 25%;}

/*Banner*/

/*
section.mainbanr {
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.endsomnia {background-image: url("../images/insomnia_banner.jpg");}
.rapid {background-image: url("../images/rapid_banner.jpg");}
.ask {background-image: url("../images/ask_banner.jpg");}
.awakeify {background-image: url("../images/awakeify_banr.png");}

section.mainbanr>h2 {text-indent: -9999px;}
*/

section.mainbanr img {padding-top: 0;}

/*title*/

section#content {margin: 80px auto;}
section#content>h2 {
	font-size: 3em;
	line-height: 1em;
}
section#content>h2+p {padding-top: 8px;font-weight: 100;}
section#content>h2>span,section#content>h2+p {margin-left: 25%;}


/*Content*/

img,video {width: 100%;}
img,video {padding-top: 40px;}
img.second {padding-top: 0;}

article {padding-bottom: 120px;}
article.subtitle {padding-bottom: 8px;}

article .column {display: flex;}

article h3 {
	width: 25%;
	font-size: 1.5em;
	line-height: 1.5em;
}

article .column>p,.column>ul {
	width: 50%;
	font-weight: 100;
	font-size: 1em;
    line-height: 1.5em;
}

article li {list-style-type: disc;}
article li:nth-child(1) {margin-bottom: 16px;}


/*customize*/

.multipleimages {display: flex; justify-content: space-between;}
.multipleimages>img{width: 49.8%; height: 49.8%;}
a:hover {color: darkgrey;}


footer {
	padding-top: 160px;
	font-size: 1.5em;
	line-height: 1.5em;
}

footer>div {
	position: absolute;
 	bottom: 0;
	left: 16px;
	width: 100%;
}

@media screen and (max-width:902px){
	section#content>h2>span,section#content>h2+p {margin-left: 0;}
	
	article h3,article .column>p,.column>ul {width: 100%;}
	
	div#content>p,article ul {padding-top: 40px;}
	
	article .column {display: block;}
	
}

